.image-profile {
    height: 250px;
    margin: 2px;
    border: solid 2px;
}
.image{
    text-align: center;
    height: 252px;
}
h1{
    text-align: center;
}

body{
    width: 90%;
    margin: auto;
    border: solid 1px black;
    padding: 4px;
    margin-top: 2%;
    background-color: beige;
    margin-bottom: 30px;
}
.contenido{
    border: solid 1px black;
    background-color: white;
}
.skills{
    color: black;
    height: 30px;
}
.profile-description{
    text-align: center;
    color: black;
}
